{
  "semi": true,
  "tabWidth": 2,
  "arrowParens": "always",
  "useTabs": false,
  "bracketSpacing": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "endOfLine": "lf",
  "printWidth": 100
}
